<section>
  <div class="container plans__container">
    <div class="plans__wrapper-title">
      <h5 class="section-name">Plans</h5>
      <h2 class="section-title">Exclusive Membership Plans</h2>
      <p class="plans__section-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
        aliquet turpis elit elit natoque varius eget facilisi. Amet rhoncus
      </p>
    </div>

    <div class="plans__wrapper-cards swiper">
      <div class="swiper-wrapper">
        <!-- Card 1 -->
        <div class="swiper-slide">
          <div class="card card-one">
            <div class="card-inner">
              <div class="card-content">
                <h2 class="card-title">Colleagues</h2>
                <p class="card-subtitle">
                  Valid when paying for tuition for a group of three people
                </p>

                <div class="modules-info">
                  <p>9 modules in 6 weeks</p>
                  <p>In one payment</p>
                </div>
                <div class="price-container">
                  <div class="price-month">
                    <p class="price">3 329 <span>/month</span></p>
                    <div class="price-info">
                      <p>3 329</p>
                      <span>for 24 months</span>
                    </div>
                  </div>
                  <div class="price-total-container">
                    <div class="price-total">
                      <p class="total-price">75 900</p>
                      <span>79 900</span>
                    </div>
                    <p class="discount">-5%</p>
                  </div>
                </div>
                <div class="divider"></div>

                <ul class="features">
                  <li>9 modules in 6 weeks</li>
                  <li>Webinars with experts</li>
                  <li>Practical tasks</li>
                  <li>
                    Certificate of advanced training based on the results of
                    training
                  </li>
                  <li>Unlimited access to materials</li>
                  <li>Group chat with experts and course coordinators</li>
                  <li>Professional community</li>
                </ul>

                <button type="button" class="btn">Select</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="swiper-slide">
          <div class="card card-two">
            <div class="card-inner card-main">
              <div class="card-content">
                <h2 class="card-title">Colleagues</h2>
                <p class="card-subtitle">
                  Valid when paying for tuition for a group of three people
                </p>

                <div class="modules-info">
                  <p>9 modules in 6 weeks</p>
                  <p>In one payment</p>
                </div>
                <div class="price-container">
                  <div class="price-month">
                    <p class="price">3 329 <span>/month</span></p>
                    <div class="price-info">
                      <p>3 329</p>
                      <span>for 24 months</span>
                    </div>
                  </div>
                  <div class="price-total-container">
                    <div class="price-total">
                      <p class="total-price">75 900</p>
                      <span>79 900</span>
                    </div>
                    <p class="discount">-5%</p>
                  </div>
                </div>
                <div class="divider"></div>

                <ul class="features">
                  <li>9 modules in 6 weeks</li>
                  <li>Webinars with experts</li>
                  <li>Practical tasks</li>
                  <li>
                    Certificate of advanced training based on the results of
                    training
                  </li>
                  <li>Unlimited access to materials</li>
                  <li>Group chat with experts and course coordinators</li>
                  <li>Professional community</li>
                </ul>

                <button type="button" class="btn">Select</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="swiper-slide">
          <div class="card card-three">
            <div class="card-inner">
              <div class="card-content">
                <h2 class="card-title">Colleagues</h2>
                <p class="card-subtitle">
                  Valid when paying for tuition for a group of three people
                </p>

                <div class="modules-info">
                  <p>9 modules in 6 weeks</p>
                  <p>In one payment</p>
                </div>
                <div class="price-container">
                  <div class="price-month">
                    <p class="price">3 329 <span>/month</span></p>
                    <div class="price-info">
                      <p>3 329</p>
                      <span>for 24 months</span>
                    </div>
                  </div>
                  <div class="price-total-container">
                    <div class="price-total">
                      <p class="total-price">75 900</p>
                      <span>79 900</span>
                    </div>
                    <p class="discount">-5%</p>
                  </div>
                </div>
                <div class="divider"></div>

                <ul class="features">
                  <li>9 modules in 6 weeks</li>
                  <li>Webinars with experts</li>
                  <li>Practical tasks</li>
                  <li>
                    Certificate of advanced training based on the results of
                    training
                  </li>
                  <li>Unlimited access to materials</li>
                  <li>Group chat with experts and course coordinators</li>
                  <li>Professional community</li>
                </ul>

                <button type="button" class="btn">Select</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-buttons">
      <button type="button" class="swiper-button-prev-custom" aria-label="Next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="5"
          height="15"
          viewBox="0 0 5 15"
          fill="none"
        >
          <path
            d="M4.86858 13.8369L1.02631 7.98091C0.942042 7.85314 0.894775 7.68066 0.894775 7.50093C0.894775 7.3212 0.942042 7.14872 1.02631 7.02095L4.86775 1.16373C4.95197 1.03517 4.99917 0.862127 4.99917 0.681877C4.99917 0.501627 4.95197 0.328588 4.86775 0.200025C4.8266 0.136717 4.77743 0.0864042 4.72311 0.0520512C4.6688 0.0176981 4.61046 0 4.55152 0C4.49257 0 4.43423 0.0176981 4.37992 0.0520512C4.32561 0.0864042 4.27643 0.136717 4.23529 0.200025L0.393847 6.05475C0.141424 6.44038 0 6.95923 0 7.49968C0 8.04012 0.141424 8.55898 0.393847 8.94461L4.23529 14.7993C4.27644 14.8628 4.32567 14.9133 4.38006 14.9478C4.43445 14.9822 4.49289 15 4.55193 15C4.61098 15 4.66942 14.9822 4.72381 14.9478C4.77819 14.9133 4.82742 14.8628 4.86858 14.7993C4.95281 14.6708 5 14.4977 5 14.3175C5 14.1372 4.95281 13.9642 4.86858 13.8356"
            fill="white"
          />
        </svg>
      </button>
      <div class="swiper-pagination" aria-label="Pagination"></div>
      <button
        type="button"
        class="swiper-button-next-custom"
        aria-label="Previous"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="5"
          height="15"
          viewBox="0 0 5 15"
          fill="none"
        >
          <path
            d="M0.131419 13.8369L3.97369 7.98091C4.05796 7.85314 4.10522 7.68066 4.10522 7.50093C4.10522 7.3212 4.05796 7.14872 3.97369 7.02095L0.132252 1.16373C0.0480277 1.03517 0.000833621 0.862127 0.000833621 0.681877C0.000833621 0.501627 0.0480277 0.328588 0.132252 0.200025C0.173398 0.136717 0.222574 0.0864042 0.276885 0.0520512C0.331196 0.0176981 0.389542 0 0.448484 0C0.507425 0 0.565771 0.0176981 0.620082 0.0520512C0.674393 0.0864042 0.72357 0.136717 0.764715 0.200025L4.60615 6.05475C4.85858 6.44038 5 6.95923 5 7.49968C5 8.04012 4.85858 8.55898 4.60615 8.94461L0.764715 14.7993C0.723557 14.8628 0.674328 14.9133 0.61994 14.9478C0.565552 14.9822 0.50711 15 0.448067 15C0.389025 15 0.330581 14.9822 0.276193 14.9478C0.221806 14.9133 0.172577 14.8628 0.131419 14.7993C0.0471945 14.6708 0 14.4977 0 14.3175C0 14.1372 0.0471945 13.9642 0.131419 13.8356"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
