<section>
  <div class="container services__container">
    <ul class="services__list">
      <li class="services__item-wrapper services__item-wrapper-bg-odd">
        <div class="services__item">
          <h2 class="services__item-title">Our Services for You</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </li>
      <li class="services__item-wrapper services__item-wrapper-bg-even">
        <div class="services__item">
          <h2 class="services__item-title">Bitcoin Escrow Service</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </li>
      <li class="services__item-wrapper services__item-wrapper-bg-odd">
        <div class="services__item">
          <h2 class="services__item-title">Safe And Secure</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </li>
      <li class="services__item-wrapper services__item-wrapper-bg-even">
        <div class="services__item">
          <h2 class="services__item-title">Integrated App</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </li>
      <li class="services__item-wrapper services__item-wrapper-bg-odd">
        <div class="services__item">
          <h2 class="services__item-title">Safe And Secure</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </li>
      <li class="services__item-wrapper services__item-wrapper-bg-even">
        <div class="services__item">
          <h2 class="services__item-title">Safe And Secure</h2>
          <p class="services__item-subtitle">Lorem ipsum</p>
          <hr class="services__item-line" />
          <p class="services__item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
