<section>
  <div class="container team__container">
    <div class="team__wrapper-title">
      <h5 class="section-name">Team</h5>
      <h2 class="section-title team__title">Member of our expert team</h2>
      <p class="team__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo ipsum
        aliquet turpis elit elit natoque varius eget facilisi.
      </p>
    </div>

    <div class="team__slider-container">
      <div class="team__slider">
        <!-- Slide 1 -->
        <div class="team__slide">
          <div class="team__slide-border">
            <div class="team__slide-profile">
              <img
                srcset="/img/team/team-1.webp 1x, /img/team/team-1@2x.webp 2x"
                src="/img/team/team-1.webp"
                alt="William Wilson"
                class="team__slide-profile-img"
              />
              <div class="team__slide-profile-info">
                <h3 class="team__slide-profile-info-title">DIAM VOLUTPAT</h3>
                <p class="team__slide-profile-info-name">William Wilson</p>
                <p class="team__slide-profile-info-subtitle">
                  Varius quam quisque
                </p>
              </div>
            </div>
          </div>

          <div class="team__slide-border-info">
            <div class="team__slide-info">
              <div class="team__slide-info-wrapper">
                <h4 class="team__slide-info-title">Android App Development</h4>
                <p class="team__slide-info-subtitle">
                  Tincidunt vitae semper quis lectus nulla.
                </p>
                <div class="team__slide-info-rating">
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                </div>
              </div>
              <p class="team__slide-info-description">
                Rutrum quisque non tellus orci ac auctor augue mauris augue.
                Fermentum dui faucibus in ornare quam viverra. Mollis aliquam ut
                porttitor leo a diam. Mattis molestie a iaculis at erat
                pellentesque adipiscing.
              </p>
              <img
                src="/img/quotes.svg"
                width="99"
                height="99"
                alt="quotes"
                class="team__quote-icon"
              />
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="team__slide">
          <div class="team__slide-border">
            <div class="team__slide-profile">
              <img
                srcset="/img/team/team-2.webp 1x, /img/team/team-2@2x.webp 2x"
                src="/img/team/team-2.webp"
                alt="Emily Johnson"
                class="team__slide-profile-img"
              />
              <div class="team__slide-profile-info">
                <h3 class="team__slide-profile-info-title">DIAM VOLUTPAT</h3>
                <p class="team__slide-profile-info-name">Emily Johnson</p>
                <p class="team__slide-profile-info-subtitle">
                  Varius quam quisque
                </p>
              </div>
            </div>
          </div>

          <div class="team__slide-border-info">
            <div class="team__slide-info">
              <div class="team__slide-info-wrapper">
                <h4 class="team__slide-info-title">Android App Development</h4>
                <p class="team__slide-info-subtitle">
                  Tincidunt vitae semper quis lectus nulla.
                </p>
                <div class="team__slide-info-rating">
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                </div>
              </div>
              <p class="team__slide-info-description">
                Rutrum quisque non tellus orci ac auctor augue mauris augue.
                Fermentum dui faucibus in ornare quam viverra. Mollis aliquam ut
                porttitor leo a diam. Mattis molestie a iaculis at erat
                pellentesque adipiscing.
              </p>
              <img
                src="/img/quotes.svg"
                width="99"
                height="99"
                alt="quotes"
                class="team__quote-icon"
              />
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="team__slide">
          <div class="team__slide-border">
            <div class="team__slide-profile">
              <img
                srcset="/img/team/team-3.webp 1x, /img/team/team-3@2x.webp 2x"
                src="/img/team/team-3.webp"
                alt="Alexander Smith"
                class="team__slide-profile-img"
              />
              <div class="team__slide-profile-info">
                <h3 class="team__slide-profile-info-title">DIAM VOLUTPAT</h3>
                <p class="team__slide-profile-info-name">Alexander Smith</p>
                <p class="team__slide-profile-info-subtitle">
                  Varius quam quisque
                </p>
              </div>
            </div>
          </div>

          <div class="team__slide-border-info">
            <div class="team__slide-info">
              <div class="team__slide-info-wrapper">
                <h4 class="team__slide-info-title">Android App Development</h4>
                <p class="team__slide-info-subtitle">
                  Tincidunt vitae semper quis lectus nulla.
                </p>
                <div class="team__slide-info-rating">
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                  <svg width="11" height="10">
                    <use href="/img/sprite.svg#star-5" />
                  </svg>
                </div>
              </div>
              <p class="team__slide-info-description">
                Rutrum quisque non tellus orci ac auctor augue mauris augue.
                Fermentum dui faucibus in ornare quam viverra. Mollis aliquam ut
                porttitor leo a diam. Mattis molestie a iaculis at erat
                pellentesque adipiscing.
              </p>
              <img
                src="/img/quotes.svg"
                width="99"
                height="99"
                alt="quotes"
                class="team__quote-icon"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Navigation Buttons -->
      <button class="team__slide-nav-button team__slide-prev-button">
        <svg width="25" height="25">
          <use href="/img/sprite.svg#arrow-left" />
        </svg>
      </button>

      <div class="team__slide-navigation">
        <div class="team__slide-nav-dot active"></div>
        <div class="team__slide-nav-dot"></div>
        <div class="team__slide-nav-dot"></div>
      </div>

      <button class="team__slide-nav-button team__slide-next-button">
        <svg width="25" height="25">
          <use href="/img/sprite.svg#arrow-right" />
        </svg>
      </button>
    </div>
  </div>
</section>
